<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="<%= require('../../../common/app/images/favicon.png') %>" type="image/x-icon">
    <% for (var css in htmlWebpackPlugin.files.chunks.common.css){ %>
    <link href="<%= htmlWebpackPlugin.files.chunks.common.css[css] %>" rel="stylesheet">
    <% } %>
    <% for (var css in htmlWebpackPlugin.files.chunks.app.css) { %>
    <link href="<%= htmlWebpackPlugin.files.chunks.app.css[css] %>" rel="stylesheet">
    <% } %>
    <title>InsightFinder</title>
</head>
<body style="height: 100%">
<div id="app" style="height: 100%"></div>
<script>
    window.__INITIAL_STATE__ = '<%= htmlWebpackPlugin.options.initialState %>';
</script>
<script>
    window.API_BASE_URL = 
    // 'https://app.insightfinder.com/api/v1/'; // Prod 
    'https://insightfindergae.appspot.com/api/v1/'; // Prod
    // 'https://insightfinderstaging.appspot.com/api/v1/'; // staging 
    // 'http://localhost:8888/api/v1/'; // Local 
    //  'https://insightfindertesting.appspot.com/api/v1/'; // staging
    // 'https://insightfinderui.appspot.com/api/v1/'; // Test 

    window.BASE_URL = 
    // 'https://app.insightfinder.com'; // Prod 
    'https://insightfindergae.appspot.com'; // Prod
    // 'https://insightfinderstaging.appspot.com'; // staging 
    // 'http://localhost:8888'; // Local
    // 'https://insightfindertesting.appspot.com'; // staging
    // 'https://insightfinderui.appspot.com'; // Test 
</script>
<script src="<%= htmlWebpackPlugin.files.chunks.manifest.entry %>" charset="utf-8"></script>
<script src="<%= htmlWebpackPlugin.files.chunks.common.entry %>" charset="utf-8"></script>
<script src="<%= htmlWebpackPlugin.files.chunks.app.entry %>" charset="utf-8"></script>
</body>
</html>
